<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="SyndicateDb" connectionString="Initial Catalog=Team;User ID=sa;Data Source=localhost;Password=Oskar123;Persist Security Info=True;" />
  </connectionStrings>
</configuration>