<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyndicateService.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SyndicateService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SyndicateDb" connectionString="Initial Catalog=Syndication;User ID=sa;Data Source=localhost;Password=Oskar123;Persist Security Info=True;" />
    <!--<add name="SyndicateDb" connectionString="Initial Catalog=Syndication;User ID=sa;Data Source=srv-tfs.datec.cz\SQL2014;Password=Corwin2016;Persist Security Info=True;" />-->
    <!--<add name="SyndicateDb" connectionString="Initial Catalog=Syndication;User ID=sa;Data Source=localhost\MSSQL2014;Password=Oskar123;Persist Security Info=True;" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <SyndicateService.Properties.Settings>
      <setting name="connectionString" serializeAs="String">
        <value>Initial Catalog=Syndication;User ID=sa;Data Source=wnrsbuild01.wn-cz.local;Password=Oskar123;Persist Security Info=True;</value>
      </setting>
    </SyndicateService.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SyndicateService.Properties.Settings>
      <setting name="fromAddress" serializeAs="String">
        <value>karel.zarsky@gmail.com</value>
      </setting>
      <setting name="toAddress" serializeAs="String">
        <value>karel.zarsky@gmail.com</value>
      </setting>
      <setting name="smtpLogin" serializeAs="String">
        <value>karel.zarsky@gmail.com</value>
      </setting>
      <setting name="smtpPassword" serializeAs="String">
        <value>ELGSilic</value>
      </setting>
    </SyndicateService.Properties.Settings>
  </userSettings>
</configuration>