@model SyndicationWeb.ViewModels.LogViewModel
@{
    ViewData["Title"] = "Logs";
}
<h1>Last logs</h1>
<div class="container-fluid">
    @foreach (var log in Model.Logs)
    {
        <div class="row">
            @Html.Partial("_Log", log)
        </div>
    }
</div>
