@model SyndicationWeb.ViewModels.LogViewModel
@{
    ViewData["Title"] = "Logs";
}
<div class="container-fluid">
    <h1 class="text-center">Last logs <span class="showopacity glyphicon glyphicon-list" /></h1>

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td width="90px">Time</td>
                <td>Severity</td>
                <td>Message</td>
            </tr>
        </thead>
        @foreach (var log in Model.Logs)
        {
            <tr>
                @Html.Partial("_Log", log)
            </tr>
        }
    </table>
</div>