@model SyndicationWeb.ViewModels.TipsViewModel
@{
    ViewData["Title"] = "Today Tips";
}
<div class="container">
    <div class="row ">
        <h1>Todays trade tips</h1>
    </div>
    <div class="row container">
        <div class="col-lg-1">ArticleID</div>
        <div class="col-lg-2">Published</div>
        <div class="col-lg-1">Score</div>
        <div class="col-lg-1">Ticker</div>
        <div class="col-lg-7">Title</div>
    </div>
    @foreach (var tip in Model.Tips)
    {
        @Html.Partial("_Tip", tip)
    }
</div>
