<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Invest Seer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/spacelab-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Invest Seer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="nav"><a asp-action="Tips">Daily Tips<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-thumbs-up" /></a></li>
                    <li class="nav"><a asp-action="Articles">Articles<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-file" /></a></li>
                    <li class="nav"><a asp-action="Companies">Companies<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-apple" /></a></li>
                    <li class="nav">
                        <form asp-action="Company" asp-controller="Home" method="GET">
                            <input type="text" name="ticker" class="form-control" placeholder="ticker…" />
                            <button type="submit" class="btn btn-group-justified">
                                Search ticker<i class="glyphicon glyphicon-search pull-right"></i>
                            </button>
                        </form>
                    </li>
                    <li class="nav">
                        <form asp-action="Companies" asp-controller="Home" method="GET">
                            <input type="text" name="nameFilter" class="form-control" placeholder="name…" />
                            <button type="submit" class="btn btn-group-justified">
                                Search name<i class="glyphicon glyphicon-search pull-right"></i>
                            </button>
                        </form>
                    </li>
                    <li class="nav"><a asp-area="" asp-controller="Home" asp-action="Logs">Logs<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-list" /></a></li>
                </ul>
                <br />
            </div>
        </div>
    </nav>
    <div class="main">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
